<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="graphql-github" value="https://nuget.pkg.github.com/graphql-dotnet/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="%GITHUB_USERNAME%" />
      <add key="ClearTextPassword" value="%GITHUB_ACCESS_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>
